.TodoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 100px;
  margin-bottom: 20px;
  gap: 10px;
}
.TodoItem .img_wrapper_1 {
  width: 20%;
  border-radius: 5px;
  background-color: rgb(100, 201, 100);

  display: flex;
  justify-content: center;
}
.TodoItem .img_wrapper_2 {
  width: 20%;
  border-radius: 5px;
  background-color: rgb(157, 215, 114);

  display: flex;
  justify-content: center;
}
.TodoItem .img_wrapper_3 {
  width: 20%;
  border-radius: 5px;
  background-color: rgb(253, 206, 23);

  display: flex;
  justify-content: center;
}
.TodoItem .img_wrapper_4 {
  width: 20%;
  border-radius: 5px;
  background-color: rgb(253, 132, 70);

  display: flex;
  justify-content: center;
}
.TodoItem .img_wrapper_5 {
  width: 20%;
  border-radius: 5px;
  background-color: rgb(253, 86, 95);

  display: flex;
  justify-content: center;
}
.TodoItem .img_wrapper_1 > img {
  width: 50%;
}
.TodoItem .img_wrapper_2 > img {
  width: 50%;
}
.TodoItem .img_wrapper_3 > img {
  width: 50%;
}
.TodoItem .img_wrapper_4 > img {
  width: 50%;
}
.TodoItem .img_wrapper_5 > img {
  width: 50%;
}
.TodoItem .content {
  width: 50%;
  text-align: center;
}
